.App {
  text-align: center;
}

.nav{
  background-color:#fff
}

.footer{
  font-family : Nunito, sans-serif;
  color : #0080ff !important;
}

.footer a:hover {
  text-decoration: none;
  color : #0080ff !important;
}
